---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ReadMoreBtn from "../../components/ReadMoreBtn.astro";
import TwoColumnButton from "../../components/TwoColumnButton.astro";
import FontHeading from "../../components/FontHeading.astro";

const sportNews: CollectionEntry<"sport">[] = (
  await getCollection("sport")
).sort(
  (a: CollectionEntry<"sport">, b: CollectionEntry<"sport">) =>
    b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);
---

<Layout>
  <main class="py-10">
    <section
      class="relative bg-background text-text flex flex-col main-container"
    >
      <FontHeading label="Recent Sports New" />

      <div class="relative z-10 mx-auto bg-gray-800 mt-4 mb-10">
        <!-- Featured Blog Post -->
        <div
          class="flex flex-col md:flex-row items-center justify-between gap-[20px] h-auto md:h-[350px]"
        >
          <!-- Blog Image -->
          <div class="w-full md:w-1/2 h-full">
            <img
              src={sportNews[0].data.coverImage}
              alt="Featured Blog"
              class="w-full h-full rounded-lg shadow-lg object-cover"
            />
          </div>

          <!-- Blog Content -->
          <div
            class="w-full md:w-1/2 flex flex-col gap-[10px] bg-gray-800 h-full justify-center p-5 rounded-lg"
          >
            <div class="w-full">
              <div class="flex flex-wrap gap-2 mb-4">
                {
                  sportNews[0].data.tags.map((tag, index) => (
                    <span
                      class={`${index % 2 === 0 ? "bg-primary" : "bg-primary"} text-white px-2 py-1 rounded-md text-xs`}
                    >
                      {tag}
                    </span>
                  ))
                }
              </div>
              <h2
                class="text-xl md:text-2xl font-semibold tracking-wide leading-tight"
              >
                {sportNews[0].data.title}
              </h2>
            </div>
            <p class="text-sm font-body leading-relaxed text-white/50">
              {sportNews[0].data.description}
            </p>
            <ReadMoreBtn href={`/sport/news/${sportNews[0].slug}`} />
          </div>
        </div>
      </div>

      <FontHeading label="Premier League" />
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
        {
          sportNews.slice(1, 5).map((article, index) => (
            <div class="flex flex-col bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300">
              <div class="w-full h-40">
                <img
                  src={article.data.coverImage}
                  alt={article.data.title}
                  class="w-full h-full object-cover"
                />
              </div>

              <div class="flex flex-col p-4 gap-2 h-full">
                <h3 class="text-base font-semibold line-clamp-2">
                  {article.data.title}
                </h3>
                <p class="text-sm font-body leading-relaxed text-white/50 line-clamp-2">
                  {article.data.description}
                </p>
                <ReadMoreBtn href={`/sport/news/${article.slug}`} />
              </div>
            </div>
          ))
        }
      </div>
      <TwoColumnButton />
    </section>
  </main>
</Layout>
