---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ReadMoreBtn from "../../components/ReadMoreBtn.astro";
import TwoColumnButton from "../../components/TwoColumnButton.astro";
import FontHeading from "../../components/FontHeading.astro";
import FourRowNewsAndHeader from "../../components/FourRowNewsAndHeader.astro";

const sportNews: CollectionEntry<"sport">[] = (
  await getCollection("sport")
).sort(
  (a: CollectionEntry<"sport">, b: CollectionEntry<"sport">) =>
    b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const premierLeagueTopFourNews = sportNews
  .filter((newsItem) => {
    return newsItem.data.tags.includes("Premier League");
  })
  .map((item) => ({ ...item, slug: `/sport/news/${item.slug}` }))
  .slice(0, 4);
---

<Layout>
  <main class="py-10">
    <section
      class="relative bg-background text-text flex flex-col main-container"
    >
      <FontHeading label="Recent Sports New" />

      <div class="relative z-10 mx-auto border mt-4 mb-10 shadow-lg">
        <!-- Featured Blog Post -->
        <div
          class="flex flex-col md:flex-row items-center justify-between gap-[10px] md:gap-[20px] h-auto md:h-[350px]"
        >
          <!-- Blog Image -->
          <div class="w-full md:w-1/2 h-full">
            <img
              src={sportNews[2].data.coverImage}
              alt="Featured Blog"
              class="w-full h-full shadow-lg object-cover"
            />
          </div>

          <!-- Blog Content -->
          <div
            class="w-full md:w-1/2 flex flex-col gap-[10px] h-full justify-center p-5"
          >
            <div class="w-full">
              <div class="flex flex-wrap gap-1 mb-2">
                {
                  sportNews[2].data.tags.map((tag, index) => (
                    <span
                      class={`${index % 2 === 0 ? "bg-primary" : "bg-primary"} text-white px-2 py-1 rounded-md text-xs`}
                    >
                      {tag}
                    </span>
                  ))
                }
              </div>
              <h2
                class="text-xl md:text-2xl font-semibold tracking-wide leading-tight"
              >
                {sportNews[2].data.title}
              </h2>
            </div>
            <p class="text-sm font-body leading-relaxed text-text/50">
              {sportNews[2].data.description}
            </p>
            <ReadMoreBtn href={`/sport/news/${sportNews[2].slug}`} />
          </div>
        </div>
      </div>

      <FourRowNewsAndHeader
        label="Premier League"
        articles={premierLeagueTopFourNews}
        viewAllLink="/sport/premier-league"
      />
    </section>
  </main>
</Layout>
