---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import ReadMoreBtn from "../../../components/ReadMoreBtn.astro";
import FontHeading from "../../../components/FontHeading.astro";
import FourRowNewsAndHeader from "../../../components/FourRowNewsAndHeader.astro";
import LeagueTable from "../../../components/LeagueTable.astro";
import { Image } from "astro:assets";
import ShortNews from "../../../components/ShortNews.astro";

const sportNews: CollectionEntry<"sport">[] = (
  await getCollection("sport")
).sort(
  (a: CollectionEntry<"sport">, b: CollectionEntry<"sport">) =>
    b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const premierLeagueTopFourNews = sportNews
  .map((item) => ({
    ...item,
    slug: `/sport/news/${item.slug}`,
  }))
  .slice(1);
---

<Layout>
  <main class="py-10">
    <section
      class="relative bg-background text-text flex flex-col main-container"
    >
      <FontHeading label="Recent Sports New" />
      <div class="relative z-10 mx-auto border mt-4 mb-10 shadow-lg">
        <!-- Featured Blog Post -->
        <div
          class="flex flex-col md:flex-row items-center justify-between gap-[10px] md:gap-[20px] h-auto md:h-[350px]"
        >
          <!-- Blog Image -->
          <div class="w-full md:w-1/2 h-full">
            <img
              src={sportNews[0].data.coverImage}
              alt="Featured Blog"
              class="w-full h-full shadow-lg object-cover"
            />
          </div>

          <!-- Blog Content -->
          <div
            class="w-full md:w-1/2 flex flex-col gap-[10px] h-full justify-center p-5"
          >
            <div class="w-full">
              <div class="flex flex-wrap gap-1 mb-2">
                {
                  sportNews[0].data.tags.map((tag, index) => (
                    <span
                      class={`${index % 2 === 0 ? "bg-primary" : "bg-primary"} text-white px-2 py-1 rounded-md text-xs`}
                    >
                      {tag}
                    </span>
                  ))
                }
              </div>
              <h2
                class="text-xl md:text-2xl font-semibold tracking-wide leading-tight"
              >
                {sportNews[0].data.title}
              </h2>
              <p class="text-sm text-text/50">
                {
                  new Date(sportNews[0].data.publishedDate).toLocaleDateString(
                    "en-GB",
                    {
                      day: "2-digit",
                      month: "2-digit",
                      year: "numeric",
                    },
                  )
                }
              </p>
            </div>
            <p class="text-sm font-body leading-relaxed text-text/50">
              {sportNews[0].data.description}
            </p>
            <ReadMoreBtn href={`/sport/news/${sportNews[0].slug}`} />
          </div>
        </div>
      </div>

      <FourRowNewsAndHeader
        label="Latest Sport News"
        articles={premierLeagueTopFourNews}
      />

      <div class="w-full grid md:grid-cols-4 mt-10 gap-x-5">
        <div class="col-span-1 md:col-span-2 flex flex-col items-start gap-y-2">
          <FontHeading label="Premier League Table" />
          <LeagueTable />
        </div>
        <div class="col-span-1 md:col-span-2 flex flex-col items-start gap-y-2">
          <FontHeading label="Short News" />
          <ShortNews />
        </div>
      </div>
    </section>
  </main>
</Layout>
