---
import { getCollection } from "astro:content";
import { CollectionEntry } from "astro:content";
import ReadMoreBtn from "../ReadMoreBtn.astro";

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const recentThreeArticle: CollectionEntry<"blog">[] = allBlogArticles.slice(
  0,
  3,
);
---

<div
  class="w-full grid grid-cols-1 md:grid-cols-2 gap-5 items-center h-auto md:h-[500px] py-8 md:py-[50px]"
>
  <!-- Left Content (Text Section) -->
  <div
    class="text-text w-full flex items-start justify-center flex-col relative md:p-0"
  >
    <h1
      class="font-heading text-left text-2xl sm:text-3xl md:text-4xl mb-4 w-full relative text-white"
    >
      Unleash the Power of Knowledge with Player Insights, Game Strategies &
      Tech Trends
    </h1>
    <p
      class="font-body text-left text-base sm:text-base mb-6 relative text-white/90"
    >
      Dive into a world of eSports, football, IT, and more with exclusive player
      insights, expert guides, and real-time updates. Stay informed, stay ahead!
    </p>
  </div>

  <!-- Right Content (Image Section) -->
  <div class="swiper mySwiper w-full h-[300px] sm:h-[400px]">
    <div class="swiper-wrapper">
      {
        recentThreeArticle.map((article) => (
          <div class="swiper-slide">
            <div
              style={`background-image: url('${article.data.coverImage}')`}
              class={`w-full h-[300px] sm:h-[400px] md:h-full bg-red-500  bg-cover bg-center relative`}
            >
              <div class="absolute inset-0 bg-black bg-opacity-60 p-4 sm:p-6 md:p-8 flex flex-col justify-end">
                <div class="flex flex-wrap gap-2 mb-4">
                  {article.data.tags.map((tag, index) => (
                    <span
                      class={`${index % 2 === 0 ? "bg-primary" : "bg-primary"} text-white px-2 py-1 rounded-md text-xs`}
                    >
                      {tag}
                    </span>
                  ))}
                </div>
                <h2 class="text-xl sm:text-xl md:text-2xl font-bold text-white leading-tight mb-2 line-clamp-2">
                  {article.data.title}
                </h2>
                <p class="text-sm text-white/80 mb-4 line-clamp-2">
                  {article.data.description}
                </p>
                <ReadMoreBtn href={`/blogs/${article?.slug}`} />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<script is:inline>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    effect: "fade",
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 3000, // Delay in milliseconds (3000ms = 3 seconds)
      disableOnInteraction: false, // Keeps autoplay active even after user interaction
    },
    loop: true,
  });
</script>
