---
import { Image } from "astro:assets";
import type { PlayerData } from "../data/player";

const { playerData } = Astro.props;

interface Props {
  playerData: PlayerData[];
}
---

<div class="overflow-x-auto w-full text-nowrap">
  <table class="table-auto w-full border">
    <thead class="bg-primary text-white">
      <tr class="text-left">
        <!-- <th class="p-2 sm:p-3 text-sm sm:text-base border ">No</th
        > -->
        <th class="p-2 sm:p-3 text-sm sm:text-base">Country</th>
        <th class="p-2 sm:p-3 text-sm sm:text-base">Ingame Name</th>
        <th class="p-2 sm:p-3 text-sm sm:text-base">Name</th>
        <th class="p-2 sm:p-3 text-sm sm:text-base">Team</th>
      </tr>
    </thead>

    <tbody class="border">
      {
        playerData.map((player, index) => (
          <tr class="border">
            {/* <td class="p-2 sm:p-3 text-sm">{index + 1}</td> */}
            <td class="p-2 sm:p-3 text-lg sm:text-xl font-medium">
              {player.country.logo}
            </td>
            <td class="p-2 sm:p-3 text-sm sm:text-base font-medium cursor-pointer hover:text-highlight">
              {player.slug ? (
                <a class="underline" href={`/players/${player.slug}`}>
                  {player.ingame_name}
                </a>
              ) : (
                <span class="underline">{player.ingame_name}</span>
              )}
            </td>
            <td class="p-2 sm:p-3  text-sm sm:text-base font-medium">
              {player.name}
            </td>
            <td class="p-2 sm:p-3 text-sm sm:text-base font-medium flex items-center gap-2">
              {player.team && (
                <>
                  <Image
                    src={player.team.logo}
                    width={24}
                    height={24}
                    alt={`${player.team.name} logo`}
                    class="rounded-full"
                  />
                  <span class="whitespace-nowrap">{player.team.name}</span>
                </>
              )}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

<script></script>
